[submodule "penguino-backend"]
	path = web/PenguinoBackend
	url = git@github.com:Jecielrb/PenguinoBackend.git
	branch = main
[submodule "android"]
	path = android
	url = git@github.com:sxxxi/penguino-app.git
	branch = main
[submodule "penguino-c"]
	path = penguino-c
	url = git@github.com:sxxxi/penguino-c.git
	branch = main
